<form method="POST" action="/prehistoric_creatures/<%=creaturesId%>/?_method=PUT">
    <label>Type</label>
    <input type="text" name="type" value="<%= myCreatures.type %>">
    <label>Image URL</label>
    <input type="text" name="img_url" value="<%= myCreatures.img_url %>">
    <input type="submit">
</form>