<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="/prehistoric_creatures">
        <label for="nameFilter">Filter by Name</label>
        <input id="nameFilter" type="text" name="nameFilter">
        <input type="submit">
    </form>
 

   <ul>
       <% myCreatures.forEach(function(creature, index) { %>
        <li><%= creature.type %> Check out this image <img src="<%= creature.img_url %>" alt="" width="600" height="200"> 
            <a href="/prehistoric_creatures/edit/<%= index %>">Edit</a>
            <form method="POST" action="/prehistoric_creatures/<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
        </li>
        <% }); %>
   </ul>


</body>
</html>


